{% extends 'layout.html' %} {% block body %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/aboutus.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="about-section">
      <h1>About Us</h1>
      <p>
        In country like India, majority of the population is dependent on
        agriculture for their livelihood. Many new technologies, such as Machine
        Learning and Deep Learning, are being implemented into agriculture so
        that it is easier for farmers to grow and maximize their yield.
      </p>
      <div class="para-section">
          <p>
            <p>&#x2022;In this project, I present a website in which the following applications
            are implemented; Crop recommendation, Fertilizer recommendation and
            Plant disease prediction, respectively. </p>
            <p>&#x2022;In the crop recommendation
            application, the user can provide the soil data from their side and the
            application will predict which crop should the user grow.
        </p><p> &#x2022; For the
            fertilizer recommendation application, the user can input the soil data
            and the type of crop they are growing, and the application will predict
            what the soil lacks or has excess of and will recommend improvements.
        </p><p>&#x2022;
            For the last application, that is the plant disease prediction
            application, the user can input an image of a diseased plant leaf, and
            the application will predict what disease it is and will also give a
            little background about the disease and suggestions to cure it.</p>
          </p>

      </div>
    </div>

    <div class="vision-section">
      <h1>Our Vision</h1>
      <p>
        Our vision is to become a global for-profit social enterprise that
        produces exclusive sustainable grains and its value-added products in
        partnership with millions of smallholder farmers worldwide. Smart
        changes to how we farm and eat can have a huge impact on our plans. .
      </p>
    </div>
  </body>
</html>
{% endblock %}
