{% extends 'layout.html' %} {% block body %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/cropInfo.css" />
    <title>Document</title>
  </head>
  <body>
    <h2 style="text-align: center ; margin-top: 23px; font-weight: bolder;" >Crop Information</h2>
    <div class="card-container">

      <div class="card" style="width: 20rem;">
        <img src="../static/images/barley.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2>Barley</h2>
          <p class="card-text">It is quite significant cereal after wheat, maize & rice. Barley
            is cultivated in summer season in temperate area while it is sown
            in winter seasons in tropical zones. In India it is planted in
            rabi season. It possesses excellent drought resistance capacity.
            <a href="https://www.apnikheti.com/en/pn/agriculture/crops/cereals/barley-jow" target="_blank">More info</a> </p>
        </div>
      </div>

      <div class="card" style="width: 20rem;">
        <img src="../static/images/cotton.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h2>Cotton</h2>
          <p class="card-text">Cotton is one of the most important fibre and cash crop of India as well as of entire world. It plays a dominant role in the industrial and agricultural economy of the country.It provides the basic raw material to cotton textile industry. In India it provides direct livelihood  
            <a href="https://www.apnikheti.com/en/pn/agriculture/crops/fibre-crops/cotton" target="_blank">More info</a> </p>
        </div>
      </div>

      <div class="card" style="width: 20rem;">
        <img src="../static/images/flax.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h2>Flax</h2>
          <p class="card-text">Linseed (Linum usitatissimum). In India, it can be cultivated largely for seed meant for eliminating oil. The oil amount of the seed differs from 33-47%. Linseed lubricate is a superb drying lubricant used for processing paints as well as varnishes, oil
            <a href="https://www.apnikheti.com/en/pn/agriculture/crops/oilseeds/linseed-flax" target="_blank"><br>More info</a> </p>
        </div>
      </div>

      <div class="card" style="width: 20rem;">
        <img src="../static/images/grapes.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h2>Grapes</h2>
          <p class="card-text">It is very popular crop in the world and commercially grown in most countries. It is a perennial and deciduous woody climbing vine. It is a good source of vitamin B and minerals such as calcium, phosphorus, and iron. Grapes are used for raw eating and  
            <a href="https://www.apnikheti.com/en/pn/agriculture/horticulture/fruits/grapes" target="_blank">More info</a> </p>
        </div>
      </div>

      <div class="card" style="width: 20rem;">
        <img src="../static/images/Groundnut.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h2>Groundut</h2>
          <p class="card-text">Groundnut is a significant oilseed, ideal for cultivation in tropic regions of the country. Groundnut (Arachis hypogaea), is a species in the legume or "bean" family. It is considered to be local in South America. These are known by many other local names such as
            <a href="https://www.apnikheti.com/en/pn/agriculture/crops/oilseeds/groundnut" target="_blank">More info</a> </p>
        </div>
      </div>

      <div class="card" style="width: 20rem;">
        <img src="../static/images/kidneybean.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h2>kidneybean</h2>
          <p class="card-text">Kidney beans is also known as the chilli bean because of its dark red color and the visually resemblance the shape of a kidney. Kidney beans are a good source of protein also it is excellent source of molybdenum. It contain good source of  
            <a href="https://www.apnikheti.com/en/pn/agriculture/crops/pulses/kidney-bean-rajma" target="_blank"><br>More info</a> </p>
        </div>
      </div>

      <div class="card" style="width: 20rem;">
        <img src="../static/images/litchi.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h2>Litchi</h2>
          <p class="card-text">Juicy fruit having excellent quality. It is a rich source of Vitamin C along with B complex Vitamin. Its origin is from Southern China. India is second largest producer of litchi in the World after China. In India its cultivation is restricted to Jammu and Kashmir,
            <a href="https://www.apnikheti.com/en/pn/agriculture/horticulture/fruit/litchi" target="_blank">More info</a> </p>
        </div>
      </div>

      <div class="card" style="width: 20rem;">
        <img src="../static/images/maize.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h2>Maize</h2>
          <p class="card-text">Maize (Zea mays L) is second rated grain used collectively in form of foodstuff or fodder. Globally, maize is known as queen of cereals because it has highest genetic yield potential among the cereals. Grains provides food items which are consumed in the form of starch, corn flakes also glucose.
            <a href="https://www.apnikheti.com/en/pn/agriculture/crops/cereals/maize-kharif" target="_blank"><br>More info</a> </p>
        </div>
      </div>


    </div>
   </body>
</html>
{% endblock %}
